YT_API_KEY=
PLAYLIST_ID=
ACOUSTID_API_KEY=

# Navidrome Subsonic API Details
ND_URL="http://127.0.0.1:4533"
ND_USER="your_username"
ND_PASS="your_password"

# Target Library Directory (Where Navidrome scans for music)
NAVIDROME_LIB_DIR="./navidrome_library"